
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/freeAgentPool">Free Agent Pool</a>
    <a class="navbar-brand" href="/freeAgentPool/add"> Add Free Agent</a>
    <a class="navbar-brand" href="/teams"> Teams</a>
    <a class="navbar-brand" href="/teams/signup"> Add Team</a>
   
  </div>
</nav>
<br>