<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body class="homePage">

    <%- include('./partials/navbar')  %> 


    <h1>Team Manager</h1>
    <p>Welcome to Basketball Team manager. Find the best talent according to your team needs, from our pool of players. </p>
  
<img src="https://source.unsplash.com/collection/8854993/1020x800">
  
  </body>
</html>
