body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.listOfAllAgents {

  display: flex;
  flex-direction: column;
  justify-items: center;
}


/* .homePage{

  background-image: url('https://source.unsplash.com/collection/8854993/1920x1080');
} */
